/* <= 944px (59 * 16) */
@media (max-width: 59em) {
  html {
    font-size: 80%;
  }

  .popular-items,
  .manufacturers {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo img {
    transform: scale(0.75);
  }

  .footer-top .logo img {
    transform: scale(1);
  }
}

/* <= 768px (48 * 16) */
@media (max-width: 48em) {
  html {
    font-size: 85%;
  }

  .container {
    width: 45rem;
  }

  .menu > .container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .authorization {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 16rem;
  }

  .login {
    width: 7rem;
  }

  .register {
    width: 8rem;
  }

  .navigation {
    justify-content: center;
    flex-wrap: wrap;
    width: 35rem;
  }

  .nav-break {
    flex-basis: 100%;
  }

  .promo {
    grid-template-columns: repeat(2, 1fr);
    width: 38.75rem;
  }

  .services-controls {
    margin-right: 1rem;
    width: 10rem;
  }

  .services-list > li * {
    position: relative;
  }
}

/* <= 624px */
@media (max-width: 39em) {
  html {
    font-size: 80%;
  }

  .container {
    width: 95%;
  }

  .phone {
    padding: unset;
  }

  .phone img {
    display: none;
  }

  .promo {
    grid-template-columns: 60%;
    justify-content: center;
  }

  .promo-slider {
    grid-column: span 1;
    grid-row: span 1;
  }

  .popular-items,
  .manufacturers {
    grid-template-columns: 90%;
    justify-content: center;
  }

  .image-overlay {
    padding: 30px 80px;
  }

  .manufacturers li a {
    min-width: unset;
  }

  .services > .container {
    align-items: center;
  }

  .services-slider {
    justify-content: center;
  }

  .services-list {
    width: 21rem;
  }

  .services-list li::before {
    display: none;
  }

  .about {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .footer-nav,
  .footer-nav-bottom {
    flex-wrap: wrap;
  }
}
