li {
  list-style: none;
}

.container {
  display: flex;
  margin: auto;
  width: 58.75rem;
}

.new {
  position: relative;
}

.new::after {
  background: no-repeat url("../images/new.svg");
  content: "";
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
}

/* Потолок */
.header {
  background: var(--basic-background);
  color: #fff;
  padding-bottom: 60px;
}

/* Меню (логотип, поиск, закладки, корзина) */
.menu {
  background: var(--another-blue);
  margin-bottom: 45px;
}

/* Логотип */
.logo {
  background: var(--basic-red);
  box-shadow: 0 5px #b52933;
  width: 13.75rem;
}

.menu .logo:active {
  background: var(--error);
  box-shadow: 0 5px #8d1e26;
}

.logo img {
  display: block;
  margin: 12px auto auto;
}

/* Форма поиска */
.search-form {
  position: relative;
}

.search-form input {
  background: transparent;
  color: #fff;
  padding: 9px 22px 9px 41px;
  width: 270px;
}

.search-form label {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-form path {
  fill: rgba(255, 255, 255, 0.3);
}

.search-form ::placeholder {
  opacity: 1;
}

.search-form:hover path {
  fill: #fff;
}

.search-form input:focus+label path {
  fill: var(--basic-red);
}

.search-form input:focus {
  background: #fff;
  color: #000;
  outline: none;
}

/* Закладки, корзина, оформить */
.menu-list {
  display: flex;
  text-align: center;
}

.menu-list li {
  position: relative;
  width: 9.375rem;
}

.menu-list li:first-child svg {
  position: absolute;
  top: 12px;
  left: 20px;
}

.menu-list li:nth-child(2) svg {
  position: absolute;
  top: 12px;
  left: 25px;
}

.menu-list li svg+a {
  padding: 8px 0 10px 19px;
}

.menu-order {
  background: var(--basic-green);
}

.menu-order:hover {
  background: var(--success);
}

.menu-order:active {
  background: var(--basic-green);
}

.menu-list li a {
  display: block;
  padding: 9px 0;
}

.menu-list li:active {
  background: var(--another-blue-3);
}

.menu-list path {
  fill: rgba(255, 255, 255, 0.3);
}

.menu-list li:hover path {
  fill: #fff;
}

.menu-list li:active path {
  fill: rgba(255, 255, 255, 0.3);
}

/* Инфа под меню */
.top-info {
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* Описание */
.description {
  color: var(--basic-red);
  font-size: 1rem;
  font-style: italic;
  line-height: 23px;
  margin-left: 30px;
  margin-right: 22px;
}

/* Контакты (телефон и адрес) */
.contacts {
  width: 16.875rem;
}

.phone {
  border: 3px solid #fff;
  padding: 5px 0 5px 25px;
  position: relative;
  text-align: center;
}

.phone img {
  position: absolute;
  top: 11px;
  left: 38px;
}

.phone a {
  color: var(--basic-red);
}

.address {
  color: var(--another-blue-2);
  text-align: center;
  padding-top: 3px;
}

.authorization {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 17.5rem;
}

.login,
.register {
  background: #fff;
  color: #000;
  font-size: 1.3125rem;
  padding: 12px 0;
}

.login {
  padding-left: 18px;
  position: relative;
  width: 7.5rem;
}

.login svg {
  position: absolute;
  top: 15px;
  left: 18px;
}

.register {
  width: 9.375rem;
}

.login:hover,
.register:hover {
  color: var(--basic-red);
}

.login:hover svg path {
  fill: var(--basic-grey);
}

.login:active,
.register:active {
  color: var(--basic-greylight);
}

/* Навигация */
.navigation {
  background: var(--another-blue-2);
  box-shadow: var(--shadow-down) var(--another-blue);
  padding-left: 1.5625rem;
}

.navigation a {
  display: block;
  padding: 1rem 1.875rem 1.25rem 1.72rem;
}

.navigation a:hover {
  background: var(--another-blue);
}

.navigation a:active {
  background: var(--another-blue-3);
  box-shadow: inherit;
}

/* Основа */
.main {
  margin-bottom: 69px;
}

/* Промо (материалы - доставка) */
.promo {
  color: #fff;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 59px;
}

/* Отступы, прозрачные кнопки */
.transparent-button {
  background: rgba(255, 255, 255, 0.3);
  display: block;
  padding: 10px 0;
  text-align: center;
  width: 8.5rem;
}

.transparent-button:hover {
  background: rgba(197, 197, 197, 0.3);
}

.transparent-button:active {
  background: rgb(169, 169, 169, 0.3);
}

/* Простые блоки (материалы - доставка) */
.promo-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: space-between;
  padding: 21px 0 20px 23px;
}

.materials {
  background: var(--warning) no-repeat url("../images/promo/icon-1.svg") bottom 46% right 17%;
}

.instruments {
  background: var(--special-blue) no-repeat url("../images/promo/icon-2.svg") bottom 45% right 14%;
}

.technics {
  background: var(--special-lilac) no-repeat url("../images/promo/icon-3.svg") bottom 49% right 14%;
}

.discounts {
  background: var(--special-greenlight) no-repeat url("../images/promo/icon-4.svg") bottom 50% right 19%;
}

.delivery {
  background: var(--warning) no-repeat url("../images/promo/icon-5.svg") bottom 48% right 14%;
}

/* Слайдер (перфораторы, дрели) */
.promo-slider {
  grid-column: span 2;
  grid-row: span 2;
  overflow: hidden;
  position: relative;
}

.promo-slider input[type="radio"] {
  display: none;
}

.slides-container {
  display: flex;
  transition: transform 0.8s ease;
  width: 200%;
}

.promo-slide {
  width: 38.75rem;
}

.perforators {
  background: url("../images/promo/perforators.png");
}

.drills {
  background: url("../images/promo/drills.png");
}

.slide-shadow {
  background: rgba(0, 0, 0, 0.25);
  padding: 15px 0;
}

.promo-slide h2 {
  margin: 8px 0 6px 24px;
}

.promo-slide p {
  margin-left: 24px;
}

.promo-slide a {
  margin: 96px 0 28px 24px;
}

#promo-1:checked ~ .slides-container {
  transform: translate(0);
}

#promo-2:checked ~ .slides-container {
  transform: translate(-38.75rem);
}

.horizontally-centered {
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.slides-radio {
  bottom: 36px;
  display: flex;
  gap: 10px;
}

.slides-radio label {
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
}

#promo-1:checked ~ .slides-radio label:first-child::before,
#promo-2:checked ~ .slides-radio label:nth-child(2)::before {
  background: var(--basic-red);
  border-radius: 50%;
  display: block;
  content: "";
  height: 6px;
  margin: 2px auto;
  width: 6px;
}

.slides-arrows {
  top: 48%;
  display: flex;
  justify-content: space-between;
  width: 35.625rem;
}

.slides-arrows label {
  border: 3px #fff;
  border-style: none none solid solid;
  cursor: pointer;
  display: block;
  height: 28px;
  transform: rotate(45deg);
  width: 28px;
}

.slides-arrows label:first-child {
  margin-left: 6px;
}

.slides-arrows label:last-child {
  transform: rotate(-135deg);
}

.button {
  background: var(--basic-red);
  display: block;
  padding: 10px 0;
  text-align: center;
  width: 12rem;
}

.button:hover {
  background: var(--basic-red-2);
}

.button:active {
  background: var(--error);
}

/* Популярные товары */
/* Заголовок и кнопка */
.popular-header,
.manufacturers-header {
  align-items: center;
  background: #f9f5f0;
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
  padding: 26px 14px 25px 28px;
}

/* Товары (карточки) */
.popular-items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}

.popular-items li {
  align-items: center;
  border: 1px solid var(--another-light-grey);
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

/* Подгон картинок */
.item-image img {
  display: block;
}

li:first-child .item-image {
  margin: 5px 0 10px;
}

li:nth-child(2) .item-image {
  margin: 28px 14px 40px 0;
}

li:nth-child(3) .item-image {
  margin: 22px 10px 29px 0;
}

li:nth-child(4) .item-image {
  margin: 28px 12px 40px 0;
}

.popular-items h3 {
  margin: 0 24px;
}

/* Цены */
.old-price,
.price {
  font-size: 1.0625rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
}

.old-price {
  color: #a9a9a9;
  margin-bottom: 14px;
  margin-top: 7px;
  text-decoration: line-through;
}

.price {
  background: var(--basic-red);
  border-radius: 5% 0 0 5%;
  color: #fff;
  margin: auto 8px 21px 0;
  padding: 8px 0 12px 12px;
  position: relative;
  width: 7.5rem;
}

.price::before {
  background: var(--basic-red);
  clip-path: polygon(0% -10%, 100% 50%, 0% 110%);
  content: "";
  height: 38px;
  position: absolute;
  right: -21px;
  top: 0;
  width: 21px;
}

/* Наведение (тень и кнопки) */
.popular-items li:hover {
  box-shadow: var(--card-shadow);
}

.image-overlay {
  background: #fff;
  padding: 30px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transition: opacity 0.5s ease;
}

.popular-items li:hover .image-overlay {
  opacity: 1;
}

.buy-button,
.bookmark-button {
  border-radius: 2px;
  display: block;
  padding: 10px 0;
  width: 8.5rem;
}

.buy-button {
  background: var(--basic-green);
  box-shadow: inset 0 -3px #367315;
  color: #fff;
  padding-left: 14px;
  position: relative;
}

.buy-button:hover {
  background: var(--success);
}

.buy-button:active {
  background: #518534;
}

.buy-button::before {
  background: url("../images/icons/cart.svg");
  content: "";
  height: 15px;
  left: 23%;
  opacity: 0.3;
  position: absolute;
  top: 25%;
  width: 15px;
}

.bookmark-button {
  background: #fff;
  box-shadow: inset 3px 3px var(--basic-green),
              inset -3px -3px var(--basic-green);
  color: var(--another-blue-2);
  margin-top: 10px;
}

.bookmark-button:hover,
.bookmark-button:active {
  box-shadow: inset 3px 3px var(--another-blue-2),
              inset -3px -3px var(--another-blue-2);
}

.bookmark-button:active {
  opacity: 0.5;
}

/* Производители */
.manufacturers-header {
  margin-top: 67px;
}

.manufacturers-header .button {
  margin-right: 5px;
}

.manufacturers {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}

.manufacturers li a {
  align-items: center;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  min-height: 145px;
  min-width: 220px;
}

.manufacturers li a:hover {
  box-shadow: var(--card-shadow);
}

.manufacturers li a:active {
  opacity: 0.5;
}

/* Сервисы */
.services {
  background: var(--basic-background);
  margin-top: 70px;
}

.services > .container {
  flex-direction: column;
}

.services .container > h2 {
  margin-top: 64px;
}

.services .container > p {
  margin-top: 24px;
}

/* Слайдер (доставка, гарантия, кредит) */
.services-slider {
  justify-content: space-between;
  margin: 70px 0 99px;
}

.services-slider input[type="radio"] {
  display: none;
}

.services-controls {
  position: relative;
  width: 15rem;
}

.services-controls::before {
  background: url("../images/services/shadow.png");
  content: "";
  position: absolute;
  height: 279px;
  right: 0;
  top: -44px;
  width: 10px;
}

.services-controls label {
  background: var(--another-blue-2);
  box-shadow: inset 0 1px #405069, inset 0 -1px var(--another-blue);
  color: #fff;
  cursor: pointer;
  font-size: 1.3125rem;
  display: block;
  padding: 16px 22px 17px;
}

.services-controls label:hover {
  background: var(--another-blue);
}

#services-1:checked ~ .services-controls label:first-child,
#services-2:checked ~ .services-controls label:nth-child(2),
#services-3:checked ~ .services-controls label:nth-child(3) {
  background: #fff;
  box-shadow: inset 0 1px #fff;
  color: var(--another-blue-2);
}

#services-1:checked ~ .services-list li:first-child,
#services-2:checked ~ .services-list li:nth-child(2),
#services-3:checked ~ .services-list li:nth-child(3) {
  display: block;
}

.services-list {
  width: 38.75rem;
}

.services-list li {
  display: none;
  position: relative;
}

.services-list li p {
  margin-top: 30px;
}

.services-list li:nth-child(2) p {
  margin-top: 24px;
}

.button-credit {
  background: #ff5357;
  display: block;
  margin-top: 26px;
  padding: 10px 0;
  text-align: center;
  width: 12.25rem;
}

.services-list li::before {
  content: "";
  position: absolute;
}

.services-list li:first-child::before {
  background: url("../images/services/delivery.png");
  height: 261px;
  right: 0;
  top: 20px;
  width: 468px;
}

.services-list li:nth-child(2)::before {
  background: url("../images/services/guarantee.png");
  height: 283px;
  right: -8px;
  top: -2px;
  width: 389px;
}

.services-list li:nth-child(3)::before {
  background: url("../images/services/credit.png");
  height: 285px;
  right: -10px;
  top: -1px;
  width: 465px;
}

/* О компании, контакты */
.about {
  justify-content: space-between;
  margin-top: 70px;
}

.company p,
.main-contacts p {
  margin-top: 22px;
}

.transport-companies {
  margin: 0 0 20px 36px;
}

.transport-companies li {
  margin-bottom: 12px;
  margin-top: 3px;
  position: relative;
}

.transport-companies li::before {
  background: var(--basic-red);
  content: "";
  height: 2px;
  position: absolute;
  left: -36px;
  top: 50%;
  width: 25px;
}

.company .button {
  width: 13.75rem;
}

.main-contacts {
  width: 18.75rem;
}

.main-contacts img {
  margin: 34px 0 22px;
  min-width: 100%;
}

.main-contacts .button {
  width: 100%;
}

/* Подвал */
.footer {
  background: var(--another-blue-2);
}

/* Логотип, верх навигации */
.footer-top,
.footer-middle {
  align-items: center;
  justify-content: space-between;
}

.footer-top .logo img {
  margin: 1.25rem auto 1.5rem;
  transform: scale(1.26);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 34.25rem;
}

.footer-nav li {
  margin-top: 33px;
}

.footer-nav li a:hover,
.footer-nav-bottom li a:hover {
  text-decoration: underline;
}

.footer-nav li a:active,
.footer-nav-bottom li a:active {
  opacity: 0.5;
  text-decoration: none;
}

/* Второй ряд (контакты и навигация) */
.footer-middle {
  align-items: flex-start;
  margin: 27px auto 55px;
}

.footer-contacts {
  color: var(--basic-background);
  margin-left: 2px;
}

.footer-nav-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 32.875rem;
}

.footer-nav-bottom li a,
.feedback a {
  color: var(--special-yellowlight);
}

/* Третий ряд (копирайт, соцсети, автор) */
.footer-dark {
  background: var(--another-blue);
}

.footer-bottom {
  justify-content: space-between;
  padding: 36px 0 32px;
}

.copyright {
  color: #fff;
}

.social-buttons {
  display: flex;
  gap: 5px;
  margin-left: 48px;
}

.social-buttons a {
  align-items: center;
  background: var(--another-blue-4);
  display: flex;
  border-radius: 50%;
  height: 39px;
  justify-content: center;
  width: 39px;
}

.social-buttons a:hover {
  background: var(--basic-red);
}

.feedback {
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 18.75rem;
}

.feedback p:last-child {
  margin-right: 15px;
}

.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  color: var(--basic-red);
  text-decoration: none;
}
