body {
    min-width: 1200px;
}

li {
    list-style: none;
}

/* Потолок */
.header {
    background: var(--basic-background);
    color: #fff;
}

/* Меню (логотип, поиск, закладки, корзина) */
.menu {
    background: var(--another-blue);
    margin-bottom: 45px;
    width: 100%;
}

.menu-container {
    display: flex;
    margin: auto;
    width: 940px;
}

/* Логотип */
.logo-header {
    background: var(--basic-red);
    box-shadow: 0 5px #b52933;
    width: 220px;
}

.logo-header:active {
    background: var(--error);
    box-shadow: 0 5px #8d1e26;
}
.logo-header img {
    display: block;
    margin: 12px auto auto;
}

/* Форма поиска */
.search-form {
    position: relative;
}

.search-form input {
    background: transparent;
    color: #fff;
    padding: 9px 10px 9px 40px;
    width: 270px;
}

.search-form label {
    position: absolute;
    top: 12px;
    left: 17px;
}

.search-form path {
    fill: rgba(255, 255, 255, 0.3);
}

.search-form:hover ::placeholder {
    opacity: 1;
}

.search-form:hover path {
    fill: #fff;
}

.search-form input:focus + label path {
    fill: var(--basic-red);
}

.search-form input:focus {
    background: #fff;
    color: #000;
    outline: none;
}

/* Закладки, корзина, оформить */
.menu-list {
    display: flex;
    text-align: center;
}

.menu-list li {
    position: relative;
    width: 150px;
}

.menu-list li:nth-child(1) svg {
    position: absolute;
    top: 13px;
    left: 17px;
}

.menu-list li:nth-child(2) svg {
    position: absolute;
    top: 13px;
    left: 20px;
}

.menu-order {
    background: var(--basic-green);
}

.menu-order:hover {
    background: var(--success);
}

.menu-order:active {
    background: var(--basic-green);
}
.menu-list li a {
    display: block;
    padding: 9px 0;
}

.menu-list li:active {
    background: var(--another-blue-3);
}

.menu-list path {
    fill: rgba(255, 255, 255, 0.3);
}

.menu-list li:hover path {
    fill: #fff;
}

.menu-list li:active path {
    fill: rgba(255, 255, 255, 0.3);
}

/* Инфа под меню */
.top-info {
    display: flex;
    margin: auto auto 40px;
    width: 940px;
}

.top-info-description {
    color: var(--basic-red);
    font-size: 16px;
    line-height: 23px;
    margin-left: 30px;
    width: 197px;
}

.phone {
    align-items: center;
    border: 3px solid #fff;
    color: var(--basic-red);
    display: grid;
    grid-template-columns: 20px 250px;
    height: 45px;
    margin: auto;
    width: 270px;
}

.address {
    color: var(--another-blue-2);
}

.top-info-login {
    background: #fff;
    color: #000;
    grid-area: login;
    margin: auto;
}

.top-info-register {
    background: #fff;
    color: #000;
    margin: auto;
}

.header-sub-menu {
    background: var(--another-blue-2);
    box-shadow: var(--shadow-down) var(--another-blue);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 60px;
    margin: auto;
    width: 940px;
}

.header-sub-menu-item {
    display: block;
    margin: auto 30px;
}

.header-sub-menu-item:first-child {
    margin-left: 50px;
}

.header-sub-menu-item:last-child {
    margin-right: 50px;
}

/* Подвал */

.footer {
    background: var(--another-blue-2);
    height: 300px;
}